/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */



/* gobal use */
.Web
{
  position: absolute;
}






/* Head use */
.Head
{
  background-color: blue;
  height: 100px;
  width: auto;
}
.HeadComponant
{
  height: auto;
  width: auto;
  left: 3%;
  top: 1%;
  font-weight: bold;
  
  font-size: 30px;
  color: white;
}







/* body use */
.FaceLogo
{
  top: 15%;
  left: 20%;
  height: 50%;
  width: auto;
}
.TextSideLogo
{
  font-size: 80px;
  top: 20%;
  left: 50%;
}

.BuilderWord
{  
  height: 100px;
  width: auto;
  background-color: brown;
}

.BuilderWordText
{
  position: relative;
  vertical-align: middle;
  left: 3%;
  padding-top: 25px;
  width: 600px;

  font-size: 50px;
  font-weight: bold;
}
.BuliderForm
{
  padding-top: 10px;
  position: relative;
  left: 3%;
  width:  1000px;

  font-size: 30px;
} 
.WorkBig
{
  position: relative;
  top: 150px;
  height: 100px;
  width: auto;
  background-color: salmon;
}
.WorkText
{
  position: relative;
  vertical-align: middle;
  left: 3%;
  padding-top: 25px;
  width: 600px;

  font-size: 50px;
  font-weight: bold;
}
.WorkPic
{
  position: inherit;
  width: 30%;
  height: auto;
  left: 35%;
}
.WorkDetail
{
  position: inherit;
  text-align: center;
  font-size: 30px;
}
